{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
     <h1 style="font-size:2.8rem;">Forgotten your password?</h1>
     <p>Enter your e-mail address to obtain a new password.</p>
    <div class="form-box" style="margin-top: 90px;">
     <form method="post">
         <div class="user-box">
         {{ form.as_p }}
         <p><input type="submit" value="Send e-mail" id="btn2"></p>
         {% csrf_token %}
         </div>
     </form>
    </div>

{% endblock %}