{% extends 'base.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}

    <h1 style="font-size:2.8rem;">Reset your password</h1>
    {% if validlink %}
    <p>Please enter your new password twice:</p>
        <div class="form-box" style="margin-top: 90px;">
            <form method="post">
                <div class="user-box">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Reset password" id="btn2"></p>
                </div>
            </form>
        </div>
    {% else %}
    <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset link.
    </p>
    {% endif %}

{% endblock %}
